.person
{
    border: 2px solid #eeee;
    padding: 10px;
   box-shadow: 0 2px 3px #cccc;
    width: 60%;
    margin:auto;
    margin-bottom: 10px;
    text-align: center;
}
.btn
{
    border: 2px solid blue;
    box-shadow: 0 1px 2px blue;
}